﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select
{
    max-width: 280px;
}
.form-group{
    padding-left:15px;
}
textarea {
   max-width: 500px;
}

#list{
     width:400px;
     /*overflow-x:scroll;*/
     list-style: none;
     padding-left:20px;
     /*border:1px solid black;*/
}

#viewList{
     width:400px;
     /*overflow-x:scroll;*/
     list-style: none;
     padding-left:20px;
     /*border:1px solid black;*/
}

#list2{
     width:400px;
     /*overflow-x:scroll;*/
     list-style: none;
     padding-left:20px;
     /*border:1px solid black;*/
}

#viewList2{
     width:400px;
     /*overflow-x:scroll;*/
     list-style: none;
     padding-left:20px;
     /*border:1px solid black;*/
}

#select{
    overflow-x:scroll;
     width:400px;
     height:320px;
}

#selectFile{
    height:320px;
}

#copiedFolder{
    height:400px;
}

#pan .panel-body{
    height:auto;
    }

#pane .panel-body{
    height:auto;
  }

.panel-heading{
    background-color:gainsboro;
}

#panel.panel{
    height:550px;
}
.search-container{
    padding:0px; 
}

#copyfiles{
     margin-left:500px;
}

#dbpan.panel-body{
     height:auto;
}

#dbpane.panel-body{
    height:auto;
}

#dsn.panel{
    height:750px;
}
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;    
}
.nav-tabs > li > a {
    background: #ededed;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

/* Tab Content */
.tab-pane {
   background:#d9edf7;
    box-shadow: white;
    border-radius: 0;
    padding: 10px;
}


ul.nav-wizard {
  background-color: white;
  /*border: 1px solid #d4d4d4;*/
  border-left: 1px solid #d9edf7;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  *zoom: 1;
  position: relative;
  overflow: hidden;
}
ul.nav-wizard:before {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 46px;
  height: 47px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  z-index: 11;
  content: " ";
}
ul.nav-wizard:after {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 138px;
  height: 47px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  z-index: 11;
  content: " ";
}
ul.nav-wizard li {
  position: relative;
  float: left;
  height: 46px;
  display: inline-block;
  text-align: center;
  padding: 0 20px 0 30px;
  margin: 0;
  font-size: 16px;
  line-height: 46px;
}
ul.nav-wizard li a {
  color: black;
  padding: 0;
}
ul.nav-wizard li a:hover {
  background-color: transparent;
}
ul.nav-wizard li:before {
  position: absolute;
  display: block;
  border: 24px solid transparent;
  border-left: 16px solid #d4d4d4;
  border-right: 0;
  top: -1px;
  z-index: 10;
  content: '';
  right: -16px;
}
ul.nav-wizard li:after {
  position: absolute;
  display: block;
  border: 24px solid transparent;
  border-left: 16px solid #f9f9f9;
  border-right: 0;
  top: -1px;
  z-index: 10;
  content: '';
  right: -15px;
}
ul.nav-wizard li.active {
  color: #3a87ad;
  background:#d9edf7 ;
}
ul.nav-wizard li.active:after {
  border-left: 16px solid #d9edf7;
}
ul.nav-wizard li.active a,
ul.nav-wizard li.active a:active,
ul.nav-wizard li.active a:visited,
ul.nav-wizard li.active a:focus {
  color: #3a87ad;
  background: #d9edf7;
}
ul.nav-wizard .active ~ li {
  color: #999999;
  background: white;
}
ul.nav-wizard .active ~ li:after {
  border-left: 16px solid #ededed;
}
ul.nav-wizard .active ~ li a,
ul.nav-wizard .active ~ li a:active,
ul.nav-wizard .active ~ li a:visited,
ul.nav-wizard .active ~ li a:focus {
  color: #999999;
  background: white;
}
ul.nav-wizard.nav-wizard-backnav li:hover {
  color: #468847;
  background: #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav li:hover:after {
  border-left: 16px solid #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav li:hover a,
ul.nav-wizard.nav-wizard-backnav li:hover a:active,
ul.nav-wizard.nav-wizard-backnav li:hover a:visited,
ul.nav-wizard.nav-wizard-backnav li:hover a:focus {
  color: #468847;
  background: #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li {
  color: #999999;
  background: #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li:after {
  border-left: 16px solid #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li a,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:active,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus {
  color: #999999;
  background: #ededed;
}

#sysSettingsTable {
    white-space:nowrap;
}

#sysSettingsTable td:last-child{
    width:100%;
}

#sysSettingsTable > tbody > tr > td > input {
    width:100%;
    white-space:nowrap;
}

#settingsPanel {
    max-width: 100%;
}

/*Logs tab*/
#iframeLog {
    height:30em;
    width:100%;
    overflow-y:scroll;
}