﻿<link rel="stylesheet" href="~/Content/Site.css" />
<div class="search-container" ng-controller="DataBase">
    <form class="form-horizontal" role="form">
        <div id="dbpanel" class="panel panel-info">
            <div class="panel-heading">
                <h4>DataBase Cloning</h4>
            </div>
            <div class="panel-body">
                <div class="col-xs-6">
                    <div id="dbpan" class="panel panel-info">
                        <div class="panel-heading">
                            <h5>Source Details</h5>
                        </div>
                        <div id="dbpan" class="panel-body">
                            <div class="form-group">
                                <label for="source">IP Address</label>
                                <input ng-model="input.srcIPAddress"type="text" class="form-control" placeholder="IP Address" />
                            </div>
                            <div class="form-group">
                                <label for="source">User Name</label>
                                <input ng-model="input.srcUserName" ng-init="input.srcUserName='root'" type="text" class="form-control" placeholder="UserName" />
                            </div>
                            <div class="form-group">
                                <label for="source">Password</label>
                                <input ng-model="input.srcPassword" type="password" class="form-control" placeholder="Password" />
                            </div>
                            <div class="form-group">
                                <label for="source">Port</label>
                                <input ng-model="input.srcPort" ng-init="input.srcPort='6609'" type="text" class="form-control" placeholder="Port" />
                            </div>
                            <div class="form-group">
                                <label for="source">DbName</label>
                                <input ng-model="input.srcDbName" type="text" class="form-control" placeholder="DbName" />
                            </div>
                            <button class="btn btn-primary" ng-click="getTable(input)">Get Tables & Views</button><br /><br />
                            <div class="progress progress-striped active" ng-show="stripes">
                                <div class="progress-bar" role="progressbar" ng-if="barLoading" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Processing...
                                </div>
                            </div>
                            <div ng-show="table">
                                <h4 id="result"><strong>{{tableMessage}}</strong></h4>
                                <select id="select" class="form-control" size="8" ng-model="selectedTable">
                                    <option ng-repeat="tableName in tableNames" value={{tableName}}>{{tableName}}</option>
                                </select><br /><br />
                                </div>
                            <button ng-show="button" class="btn btn-primary" ng-click="copyTable(model,input.srcDbName)">Copy Tables</button><br /><br />
                            <div class="progress progress-striped active" ng-show="proBar">
                                <div class="progress-bar" role="progressbar" ng-if="progressLoading" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Processing...
                                </div>
                            </div>
                            <div ng-show="viewTable">
                                <h4 id="result"><strong>{{viewMessage}}</strong></h4>
                                <select ng-show="enable" id="select" class="form-control" size="8" ng-model="selectedView">
                                    <option ng-repeat="viewName in viewNames" value={{viewName}}>{{viewName}}</option>
                                </select><br /><br />
                            </div>
                            <button ng-show="viewButton" class="btn btn-primary" ng-click="copyView(model,input.srcDbName)">Copy Views</button><br /><br />
                            <div class="progress progress-striped active" ng-show="viewBar">
                                <div class="progress-bar" role="progressbar" ng-if="viewLoading" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Copying...
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div id="dbpane" class="panel panel-info">
                        <div class="panel-heading">
                            <h5>Destination Details</h5>
                        </div>
                        <div id="dbpane" class="panel-body">
                            <div class="form-group">
                                <label for="source">IP Address</label>
                                <input ng-model="model.desIPAddress" type="text" class="form-control" placeholder="IP Address" />
                            </div>
                            <div class="form-group">
                                <label for="source">UserName</label>
                                <input ng-model="model.desUsername" ng-init="model.desUsername='root'" type="text" class="form-control" placeholder="UserName" />
                            </div>
                            <div class="form-group">
                                <label for="source">Password</label>
                                <input ng-model="model.desPassword" type="password" class="form-control" placeholder="Password" />
                            </div>
                            <div class="form-group">
                                <label for="source">Port</label>
                                <input ng-model="model.desPort" ng-init="model.desPort='6609'" type="text" class="form-control" placeholder="Port" />
                            </div>
                            <div class="form-group">
                                <label for="source">DbName</label>
                                <input ng-model="model.desDBName" type="text" class="form-control" placeholder="DbName" />
                            </div>
                            <div class="form-group">
                                <label for="source">New Name</label>
                                <input ng-model="model.desTableName" type="text" class="form-control" placeholder="New Name" />
                            </div>
                            <div ng-show="message">
                                <h4 id="message"><strong>{{copiedMessage}}</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular-route.min.js"></script>
@Scripts.Render("~/bundles/app-angularapp")
@Scripts.Render("~/bundles/app-admin")

