﻿<div class="search-container" ng-controller="Dsn">
    <form class="form-horizontal" role="form">
        <div class="col-md-7">
            <div id="dsn" class="panel panel-info">
                <div class="panel-heading">
                    <h4> Create DSN</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="source">DSN Name</label>
                        <input ng-model="insert.dsnName" type="text" class="form-control" placeholder="DSN Name" />
                    </div>
                    <div class="form-group">
                        <label for="source">Driver Name</label>
                        <input ng-model="insert.driverName" type="text" class="form-control" placeholder="Driver Name" />
                    </div>
                    <div class="form-group">
                        <label for="source">DSN Type</label>
                        <input ng-model="insert.dsnType" type="text" class="form-control" placeholder="DSN Type" />
                    </div>
                    <div class="form-group">
                        <label for="source">Server Name</label>
                        <input ng-model="insert.serverName" type="text" class="form-control" placeholder="Server Name" />
                    </div>
                    <div class="form-group">
                        <label for="source">User Name</label>
                        <input ng-model="insert.userName" type="text" class="form-control" placeholder="UserName" />
                    </div>
                    <div class="form-group">
                        <label for="source">Password</label>
                        <input ng-model="insert.password" type="password" class="form-control" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <label for="source">Port</label>
                        <input ng-model="insert.port" type="text" class="form-control" placeholder="Port" />
                    </div>
                    <div class="form-group">
                        <label for="source">DataBase</label>
                        <input ng-model="insert.dataBase" type="text" class="form-control" placeholder="DataBase" />
                    </div>
                    <button class="btn btn-primary" ng-click="createDsn(insert)">Create DSN</button><br /><br />
                </div>
            </div>
        </div>
    </form>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular-route.min.js"></script>
@Scripts.Render("~/bundles/app-angularapp")
@Scripts.Render("~/bundles/app-admin")


