﻿<!-- Wayne ver 10/12/2016-->
<link rel="stylesheet" href="~/Content/Site.css" />
<link rel="stylesheet" href="~/Content/bootstrap.css" />
<link rel="stylesheet" href="~/Content/toastr.css" />

<ul class="nav nav-wizard" role="tablist">
    <li class="active"><a href="#dvstream" role="tab" data-toggle="tab">DVStream</a></li>
    <li><a href="#dbclone" role="tab" data-toggle="tab">DataBase</a></li>
    <li><a href="#others" role="tab" data-toggle="tab">Logs</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content" ng-controller="mainCtrl">

    <!*** SERVER TAB ***->
    <div class="tab-pane active" id="dvstream">
        <form class="form-horizontal" role="form">

            <!*** SERVER SOURCE PANEL ***-->
            <div id="pan" class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#SOURCE_PANEL">
                            <i class="fa fa-caret-square-o-up"></i> Source Details<i class="fa fa-caret-square-o-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="SOURCE_PANEL" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="source">Server Name</label>
                                <input ng-model="data.sServerName" required type="text" class="form-control" placeholder="Server Name" />
                            </div>
                            <div class="form-group">
                                <label for="source">Path</label>
                                <input ng-model="data.sPath" required ng-init="data.sPath='C$/Program Files (x86)/AccuImage'" type="text" class="form-control" placeholder="Path" />
                            </div>
                            <div class="form-group">
                                <label for="source">UserName</label>
                                <input ng-model="data.sUserName" required ng-init="data.sUserName='Administrator'" type="text" class="form-control" placeholder="UserName" />
                            </div>
                            <div class="form-group">
                                <label for="source">Password</label>
                                <input ng-model="data.sPassword" required type="password" class="form-control" placeholder="Password" />
                            </div>
                            <button class="btn btn-primary" ng-click="getFolders(data)">Get Folders</button><br /><br />
                            <div class="progress progress-striped active" ng-show="display">
                                <div class="progress-bar" role="progressbar" ng-if="data.dataLoading" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Processing...
                                </div>
                            </div>
                            <div ng-show="server">
                                <h5><strong>Selected Server : {{selectedFolder}}</strong></h5>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div ng-show="result">
                                <label id="result"><strong>Folders available</strong></label>
                                <select id="select" class="form-control" size="8" ng-model="selectedFolder">
                                    <option value="" selected hidden />
                                    <option style="width:300px" ng-repeat="folder in folders" ng-dblclick="showFilesInFolder(data)" value={{folder}}>{{folder}}</option>
                                </select><br />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div ng-show="resultFiles">
                                <label id="result"><strong>Files In Folder {{selected}}</strong></label>
                                <select id="selectFile" class="form-control" size="8" ng-model="data.selectedFile">
                                    <option value="" selected hidden />
                                    <option style="width:300px;" ng-repeat="file in filesInFolder track by $index" ng-dblclick="displayFiles(data)" value={{file}}>{{file}}</option>
                                </select><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!*** SERVER DESTINATION PANEL ***-->
            <div id="pane" class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#DESTINATION_PANEL">
                            <i class="fa fa-caret-square-o-up"></i> Destination Details<i class="fa fa-caret-square-o-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="DESTINATION_PANEL" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="source">Server Name</label>
                                <input type="text" ng-model="value.dServerName" class="form-control" placeholder="Server Name" />
                                <button class="btn btn-primary btn-xs" ng-click="usesource(data)">Use Source</button>
                            </div>
                            <div class="form-group">
                                <label for="source">UserName</label>
                                <input ng-model="value.dUserName" ng-init="value.dUserName='Administrator'" type="text" class="form-control" placeholder="UserName" />
                            </div>
                            <div class="form-group">
                                <label for="source">Password</label>
                                <input ng-model="value.dPassword" type="password" class="form-control" placeholder="Password" />
                            </div>
                            <div class="form-group">
                                <label for="source">Target Path</label>
                                <input type="text" ng-model="value.dTargetPath" ng-init="value.dTargetPath='C$/Program Files (x86)/AccuImage'" class="form-control" placeholder="Target Path" />
                            </div>
                            <div class="form-group">
                                <label for="source">Target Folder</label>
                                <input type="text" ng-model="value.dTargetFolder" class="form-control" placeholder="Target Folder" />
                            </div><br />
                            <button ng-show="showCopyApplication" class="btn btn-primary" ng-click="copyItem(value,data.sServerName,data.sPath,data.sUserName,data.sPassword)">Copy Application</button>&nbsp;&nbsp;
                            @*<button class="btn btn-danger" style="margin-left:50px;">Abort</button>*@
                            <br /><br />
                            <div class="progress progress-striped active" ng-show="progress">
                                <div class="progress-bar" role="progressbar" ng-if="dataLoading" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Copying...
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div ng-show="progressbar">
                                <h4 id="result"><strong>Files Copied to {{value.dTargetFolder}}</strong></h4>
                                <select id="copiedFolder" class="form-control" size="8" ng-model="copiedFolder">
                                    <option value="" selected hidden />
                                    <option style="width:500px;" ng-repeat="file in files track by $index" ng-dblclick="modifyItem(value,file)" value={{file}}>{{file}}</option>
                                </select><br /><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!*** INI PANEL ***->
            <div id="pane" ng-show="modifyPanel" class="panel panel-default">
                <div class="panel-heading">
                    <h5>Modify INI</h5>
                </div>
                <div class="panel-body">
                    <div class="col-xs-6">
                        @*space to edit ini*@
                        <button class="btn btn-primary" ng-show="showModifyIni ? false : true" ng-click="showModifyIni=true">Modify INI</button>
                        <button class="btn btn-primary" ng-show="showModifyIni" ng-click="showModifyIni=false">Hide INI</button>
                        <br />

                        <br />
                        <div ng-show="showModifyIni">
                            <textarea name="myTextbox" ng-model="contents" rows="20" style="width:500px;"></textarea>
                            <br /><br />
                            <button ng-show="modifyButton" class="btn btn-primary" ng-click="replaceItem(value)">Update</button><br /><br />
                        </div>
                        <div ng-show="IniMsg">
                            <h4 id="result"><strong>{{updateIniMessage}}</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!*** DB TAB ***->
    <div class="tab-pane" id="dbclone">
        <form class="form-horizontal" role="form">

            <!*** DB PANEL ***->


            <!--*** DB DETAILS PANEL ***-->
            <div id="dbpan" class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#DB_PANEL">
                            <i class="fa fa-caret-square-o-up"></i> Source & Destination Details<i class="fa fa-caret-square-o-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="DB_PANEL" class="panel-collapse in">
                    <div id="dbpan" class="panel-body">

                        <div class="col-xs-6">
                            <div class="panel-heading">
                                <h5>Source Details</h5>
                            </div>
                            <div class="form-group">
                                <br />
                                <label for="source">IP Address</label>
                                <input ng-model="input.srcIPAddress" required type="text" class="form-control" placeholder="IP Address" />
                            </div>
                            <div class="form-group">
                                <label for="source">User Name</label>
                                <input ng-model="input.srcUserName" required ng-init="input.srcUserName='root'" type="text" class="form-control" placeholder="UserName" />
                            </div>
                            <div class="form-group">
                                <label for="source">Password</label>
                                <input ng-model="input.srcPassword" required type="password" class="form-control" placeholder="Password" />
                            </div>
                            <div class="form-group">
                                <label for="source">Port</label>
                                <input ng-model="input.srcPort" required ng-init="input.srcPort='6609'" type="text" class="form-control" placeholder="Port" />
                            </div>
                            <div class="form-group">
                                <label for="source">DVStream Database</label>
                                <input ng-model="input.srcDvsName" type="text" class="form-control" placeholder="DB Name" />
                            </div>
                            <div class="form-group">
                                <label for="source">Master Database</label>
                                <input ng-model="input.srcDbmName" type="text" class="form-control" placeholder="DB Name" />
                            </div>
                            <button class="btn btn-primary" ng-click="getTable(input)">Get Tables & Views</button><br /><br />
                            <div class="progress progress-striped active" ng-show="stripes">
                                <div class="progress-bar" role="progressbar" ng-if="barLoading" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Processing...
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">

                            <div class="panel-heading">
                                <h5>Destination Details</h5>
                            </div>
                            <div id="dbpan" class="panel-body">
                                <div class="form-group">
                                    <label for="source">IP Address</label>
                                    <input ng-model="model.desIPAddress" type="text" class="form-control" placeholder="IP Address" />
                                    <button class="btn btn-primary btn-xs" ng-click="usesourceip(input)">Use Source</button>
                                </div>
                                <div class="form-group">
                                    <label for="source">UserName</label>
                                    <input ng-model="model.desUsername" ng-init="model.desUsername='root'" type="text" class="form-control" placeholder="UserName" />
                                </div>
                                <div class="form-group">
                                    <label for="source">Password</label>
                                    <input ng-model="model.desPassword" type="password" class="form-control" placeholder="Password" />
                                </div>
                                <div class="form-group">
                                    <label for="source">Port</label>
                                    <input ng-model="model.desPort" ng-init="model.desPort='6609'" type="text" class="form-control" placeholder="Port" />
                                </div>
                                <div class="form-group">
                                    <label for="source">DVStream Database</label>
                                    <input ng-model="model.desDvsName" type="text" class="form-control" placeholder="DB Name" />
                                </div>
                                <div class="form-group">
                                    <label for="source">Master Database</label>
                                    <input ng-model="model.desDbmName" type="text" class="form-control" placeholder="DB Name" />
                                </div>
                                <button class="btn btn-primary" ng-click="verifyConn(model)">Verify Connection</button><br /><br />
                            </div>
                        </div>

                        <div ng-hide="viewBar">
                            <button ng-show="copyDVS" class="btn btn-primary col-md-offset-2" ng-click="copyTable(model,input,'dvstream',value)">Copy DVStream Tables & views</button>
                            <button ng-show="copyMaster" class="btn btn-primary col-xs-offset-8" ng-click="copyTable(model,input,'master',value)">Copy Master Tables & views</button>
                            <button ng-show="copyBoth" class="btn btn-primary col-xs-offset-8" ng-click="copyTable(model,input,'all',value)">Copy Both Tables & views</button>
                        </div>
                        <br /><br />
                        <div class="progress progress-striped active col-md-offset-2" ng-show="viewBar" style="width:55%">
                            <div class="progress-bar" role="progressbar" ng-if="viewLoading" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                Copying...
                            </div>
                        </div>
                        <div ng-show="copyTableMsg" class="col-md-offset-2">
                            <h4>Results</h4>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4 id="message" ng-repeat="msg in copiedMessage"><strong>{{msg}}</strong></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--*** DB TABLES PANEL ***-->
            <div id="dbpane" class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#DB_SELECT_PANEL">
                            <i class="fa fa-caret-square-o-up"></i> DB Tables Selection<i class="fa fa-caret-square-o-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="DB_SELECT_PANEL" class="panel-collapse in">
                    <div id="dbpane" class="panel-body">

                        <div class="col-xs-6">
                            <div ng-show="table">
                                <input type="checkbox" data-ng-model="selectedAll" ng-click="checkAll()">Select all
                                <h4 id="result"><strong>Tables Available for: <mark>{{tableMessage}}</mark></strong></h4>
                                <div id="list"><p ng-repeat="tableName in tableNames1"><input ng-checked="checkall" type="checkbox" />{{tableName}}</p></div>
                            </div>
                            <div ng-show="viewTable">
                                <h4 id="result"><strong>Views Available for: <mark>{{viewMessage}}</mark></strong></h4>
                                <div id="viewList"><p ng-repeat="viewName in viewNames1"><input ng-checked="checkall" type="checkbox" />{{viewName}}</p></div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div ng-show="table2">
                                <input type="checkbox" data-ng-model="selectAll" ng-click="checkingAll()">Select all
                                <h4 id="result"><strong>Tables Available for: <mark>{{tableMessage2}}</mark></strong></h4>
                                <div id="list2"><p ng-repeat="tableName in tableNames2"><input ng-checked="checkedall" type="checkbox" />{{tableName}}</p></div>
                            </div>
                            <div ng-show="viewTable2">
                                <h4 id="result"><strong>Views Available for: <mark>{{viewMessage2}}</mark></strong></h4>
                                <div id="viewList2"><p ng-repeat="viewName in viewNames2"><input ng-checked="checkedall" type="checkbox" />{{viewName}}</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--*** DB SETTINGS PANEL ***-->
            <div id="dbpan" class="panel panel-primary" ng-show="settingsPane">
                <div id="dbpan" class="panel-body">
                    <select ng-model="selSettKey" ng-change="selectedKey(selSettKey)" id="settingsPanel">
                        <option value="">---select to add additional settings to display---</option>
                        <option ng-repeat="setting in systemSettings | orderBy:'Key'" value="{{setting.Key}}">{{setting.Key}}</option>
                    </select>
                    <br /><br />
                    <table id="sysSettingsTable" class="table table-striped table-bordered">
                        <tr>
                            <th>SETTING NAME</th>
                            <th>SETTING VALUE</th>
                        </tr>
                        <tr>
                            <td>
                                CONSOLE_FORMS_DOCUMENT_RETRIEVAL_EXE_PATH
                            </td>
                            <td>
                                <input id="settingsPanel" type="text" ng-model="settings.CONSOLE_FORMS_DOCUMENT_RETRIEVAL_EXE_PATH" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                CONSOLE_FORMS_DOCUMENT_RETRIEVAL_LOG_PATH
                            </td>
                            <td>
                                <input id="settingsPanel" type="text" ng-model="settings.CONSOLE_FORMS_DOCUMENT_RETRIEVAL_LOG_PATH" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                CONSOLE_FORMS_DOCUMENT_RETRIEVAL_DBID
                            </td>
                            <td>
                                <input id="settingsPanel" type="text" ng-model="settings.CONSOLE_FORMS_DOCUMENT_RETRIEVAL_DBID" />
                            </td>
                        </tr>
                        <tr ng-repeat="sett in sysSettList | orderBy :'Key'">
                            <td>{{sett.Key}}</td>
                            <td><input id="settingsPanel" type="text" ng-value="sett.Value" /></td>
                        </tr>
                    </table>
                    <button class="btn btn-primary" ng-click="saveSettings(model, systemSettings)">Save Settings</button>
                </div>
            </div>

        </form>
    </div>

    <!*** LOG TAB ***->
    <div class="tab-pane" id="others">

        <!*** LOG PANEL TAB ***->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4> Log File </h4>
            </div>
            @*<iframe ng-show="ilogs" id="iframeLog" src="/Log/CloneUtility.txt"></iframe>*@
            <div id="iframeLog">
                <div ng-repeat="line in lines track by $index">{{line}}</div>
            </div>
            <button class="btn btn-warning" ng-click="refreshLog()">Refresh</button>
        </div>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular-route.min.js"></script>
<script src="~/Scripts/toastr.js"></script>
@Scripts.Render("~/bundles/app-angularapp")
@Scripts.Render("~/bundles/app-admin")
